.App {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
}

a {
  color: white;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}
