body {
    font-family: sans-serif;
    font-size: 12px;
    margin: 0;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

header,
nav,
main,
aside,
footer {
    padding: 12px;
    text-align: center;
}
